.basket-process-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 2%;
}
.basket-additional{
    display: flex;
    flex-direction: row;
}
.basket-items {
    margin-bottom: 20px;
}

.basket-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.basket-item-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.basket-item-details {
    flex-grow: 1;
}

.order-summary {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-left: 10%;
    width: 40%;
}

.order-summary h2 {
    margin-top: 0;
}

.checkout-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
