.navbar-container {
    display: flex;
    justify-content: space-between; /* Align items to the edges */
    align-items: center;
    background-color: #81b22749; /* Use a more vibrant button color */
    padding: 1em 2em; /* Top and bottom padding, adjust side padding to push content to edges */
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
    
}

.navbar-center {
    flex-grow: 1; /* Allows the center to expand and fill the space */
    justify-content: space-between; /* Center the items */
    flex-wrap: wrap; /* Allows items to wrap if there isn't enough space */
}

.navbar-left .logo {
    margin-right: 20px; /* Space after logo */
    height: 40px; /* Adjust the logo size */
}

.navbar-left a, .navbar-center a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    font-size: 14px; /* Font size for navigation links */
}

.search-input {
    padding: 8px;
    margin: 0 10px;
    border: 1px solid #ccc;
    width: 200px; /* Adjust the width of the search input */
}

.icon-link {
    display: flex;
    margin-left: 10px; /* Space between icons */
}

.icon-link .icon {
    height: 2.5em; /* Icon size */
    width: auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        padding: 1em; /* Less padding on smaller screens */
    }

    .navbar-left, .navbar-center, .navbar-right {
        justify-content: center;
        margin-top: 5px;
    }

    .search-input {
        width: 100%; /* Full width on small screens */
    }
}

.lumos-name{
    font-size: 6em;
    font-weight: bold;
    color: #000;
    padding-left: 10em;
}